{{> header}}

<main>
  <div class="info-container">

    <h1> Check if a bike has been reported stolen by entering its SERIAL# below</h1>

    <div class="search-dialog">

      <div class="modal-body">

        <div class="todo-input-element required">
          <label for="checker">Serial#</label>
          <input type="text" id="checker">
        </div>


      </div>

      <div class="search-footer">
        <!-- <button type="button" class="clearCheck">Clear Fields</button> -->
        <button type="button" class="checkButton">Search</button>
      </div>
    </div>
    </div>


    </div>




  </div>
</main>

{{> footer}}
